<div class="container">
    <div class="row">
    <ul>
    
        <% @reviews.each do |review| %>
            <h3><%= review.title%></h3>
            <p><b>rating: <%= review.rating%> </b>/ 10</p>
            <p><em>birth control: <%= review.bc_name %></em></p>
            <p><em>reviewed on: <%= review.created_at.strftime("%b %d, %Y") %></em></p>
            <p>"<%= review.description %>"</p>
            <% if review.has_side_effects? %>
            <h4>Side Effects:</h4>
            <% review.side_effects.each do |s| %>
                <ul>
                    <li>
                        <p><b><%= s.name %></b>, severity: <%= s.review_side_effects[0].severity %>/5</p>
                    </li>
                </ul>
            <% end %>
            <% end %>
            <br>
        <% end %>
    </ul>
    </div>
</div>
