<% if @review.errors.any? %>
        <h5 class="error"><%= @review.errors.full_messages.to_sentence %></h5>
<% end %>

<h1>Log a new review for <em><%= @bc.name %></em></h1>

<%= form_with model: [@bc, @review], local: true do |f| %>
<b><%= f.label :title, "Review title:" %></b>
<%= f.text_field :title %> <br> <br> <br>
<p><b>Rating:</b></p>
<%= f.radio_button :rating, 1%>
<%= f.label :rating, "1 = did not like" %><br>
<%= f.radio_button :rating, 2%>
<%= f.label :rating, "2 = it was okay" %> <br>
<%= f.radio_button :rating, 3%>
<%= f.label :rating, "3 = decent, but still had issues" %> <br>
<%= f.radio_button :rating, 4%>
<%= f.label :rating, "4 = good, but could be better" %> <br>
<%= f.radio_button :rating, 5%>
<%= f.label :rating, "5 = great! loved it, can't complain" %> <br><br>
<b><%= f.label :description, "Describe your experience:" %></b>
<%= f.text_area :description %><br><br>

<p><b>Side Effects:</b></p>

<%= f.fields_for :side_effect do |s| %>
    <%= s.collection_check_boxes(:id, SideEffect.all, :id, :name)  %>
<% end %>



<br>
<br>




<%= f.submit "Publish Review"%>




<% end %>

