<!DOCTYPE html>
<html>
  <head>
    <title>BabyFreeZone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="header">
    <div id="headerContent">
        <%= render 'layouts/nav' %>
    </div>
</div>


  <body>
  <br>
    <div class="wrapper">
          <% flash.keys.each do | type|  %>
            <div id="flash_error">
            <strong> <%= flash[type] %> </strong> 
        <% end %> 
    </div>

  
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <div id="bodyContent">
      <%= yield %>
    </div>
  </body>
</html>
